---
---

/* SASS VARIABLES */
/* Fonts */
$font-stack: "Poppins", "Helvetica", "Arial";
$primary: #1ec1c7;
$secondary: #4e44b0;
$bezier: cubic-bezier(0.15, 0.8, 0.4, 1);

html {
	font-size: 13px;
}
@media screen and (min-width: 800px) { html { font-size: 15px; } }
@media screen and (min-width: 1200px) { html { font-size: 18px; } }
@media screen and (min-width: 1600px) { html { font-size: 21px; } }
@media screen and (min-width: 2000px) { html { font-size: 24px; } }
@media screen and (max-width: 600px) {
	.section {
		padding: 2.5em 2em 1em 2em !important;
	}
}

body {
	font-family: $font-stack;
	margin: 0;
	padding: 0;
	width: auto;
	overflow-x: hidden; // hide horizontal scroll
	background-color: white;
	color: black;
	
	transition: 0.5s;
	transition-property: background-color, color;

	&.dark {
		background-color: black;
		color: white;
	}
}






h1 {
	font: {
		
		size: 4em;
		weight: 500;
	}
}

h2 {
	font: {
		
		size: 3em;
		weight: 500;
	}
}

h3 {
	font: {
		
		size: 2.5em;
		weight: 500;
	}
}

h4, p.big {
	font: {
		
		size: 2em;
		weight: 500;
	}
}

p {
	font: {
		
		size: 1.8em;
	}
}

p2 {
	font: {
		
		size: 1.6em;
	}
}

p3 {
	font: {
		
		size: 1.4em;
	}
}

a {
	text-decoration: none !important;
}





.hero {
	display: flex;
	z-index: -1;
	min-height: 100vh; /* fallback for browsers that don't support custom properties */
	min-height: calc(var(--vh, 1vh) * 100);
	position: relative;
	transition: 0.5s;
	.section {
		display: flex;
		//position: absolute;
		margin: 4em 1em 1em 1em;
		width: auto;
		flex-direction: column;
		justify-content: flex-end;
    	align-items: flex-start;
		flex-grow: 1;
		/* h1 { display: inline-block } */
		p, h1:not(#alan) {
			transition: 0.5s;
			transition-delay: 0.4s;
		}
		#alan {
			transform: translate(0,0);
			transition: 0.8s $bezier;
		}
	}
	&.loader {
		z-index: 999;
		background-color: rgba(0, 0, 0, 0.35);
		transition: 0s;
		#alan2 {
			position: fixed;
			left: 50vw;
			top: 50vh;
			transform: translate(-50%, -50%);
			color: white;
		}
		.section {
			p, h1:not(#alan) {
				opacity: 0;
				transition: 0s;
			}
			#alan {
				color: white;
				transition: 0s;
			}
		}
	}
}
/*
.logo {
	display: block;
	width: auto;
	max-width: 30vh;
	height: auto;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	&:hover {
		-webkit-box-shadow: 0 6px 18px 0 rgba(0,0,0,0.4);
		box-shadow: 0 6px 18px 0 rgba(0,0,0,0.4);
		-webkit-transform: scale(1.02, 1.02);
		transform: scale(1.02, 1.02);
		-webkit-transition: 0.5s;
		transition: 0.5s;
		border-radius: 30%;
		-webkit-border-radius: 30%;
	}
}
*/


.chevron-down {
	display: block;
	border-right: 0.2rem solid white;
	border-bottom: 0.2rem solid white;
	width: 1.5rem; height: 1.5rem;
	transform: rotate(45deg);
}

.section {
	padding: 3.5em 3em 2em 3em;
	margin: auto;
	margin: 2em 1em;
	border-radius: 1em;
	border: 1.5px solid #ccc;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
	h2 {
		/* L shaped border
		border-image: linear-gradient(to right, #1ec1c7, #4e44b0) 1 100%;
		border-style: solid;
		border-width: 0px 0px 5px 5px;
		border-image-slice: 1;
		width: 50%;
		*/
		//border: solid #1ec1c7;
		//border-width: 0 0 0 5px;
		text-align: left;
		//padding: 5px 15px;
		font-weight: 900;
	}
}

.content {
	width: 100%;
	text-align: left;
	/* XILOG LINE (don't forget to uncomment in media rules too)
	background: url("../img/line.png") no-repeat, #fff;
	background-size: 70%;
	background-position: left bottom;
	*/
}

.footer {
	height: auto;
	width: auto;
	padding: 3vw;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: left;
	/* gradient top border */
	border-top: 0.2em solid black;
	border-image-slice: 1;
}

.centered {
	margin-left: auto !important;
	margin-right: auto !important;
}

hr.divider {
	height: 5px;
	width: 200px;
	border-radius: 2.5px;
	-webkit-border-radius: 2.5px;
	margin: 10px;
	margin-left: auto;
	margin-right: auto;
	background: linear-gradient(90deg, $primary, $secondary);
	background-size: 200% 200%;
	
	-webkit-animation: animatedgradient 5s ease infinite;
	-moz-animation: animatedgradient 5s ease infinite;
	animation: animatedgradient 5s ease infinite;
}

.badge {
	border-radius: 0;
	background-color: #333;
}

div.shake {
	animation: 0.5s shake;
}
@keyframes shake {
	0% { transform: translateX(10px); }
	20% { transform: translateX(-10px); }
	40% { transform: translateX(6px); }
	60% { transform: translateX(-4px); }
	80% { transform: translateX(2px); }
	100% { transform: translateX(0px); }
}





.cross {
	display: block;
	background: white;
	margin: 0;
	height: 30px;
	position: relative;
	width: 4px;
	transform: rotate(45deg);
}
.cross:after {
	background: white;
	content: "";
	height: 4px;
	left: -13px;
	position: absolute;
	top: 13px;
	width: 30px;
}


.blink {
	-webkit-animation: blink 2s linear infinite;
	-moz-animation: blink 2s linear infinite;
	animation: blink 2s linear infinite;
}
@keyframes blink {
	0% {opacity: 0.2;}
	10% {opacity: 0.9;}
	100% {opacity: 0.2;}
}
@-webkit-keyframes blink {
	0% {opacity: 0.2;}
	10% {opacity: 0.9;}
	100% {opacity: 0.2;}
}
@-moz-keyframes blink {
	0% {opacity: 0.2;}
	10% {opacity: 0.9;}
	100% {opacity: 0.2;}
}


.blinktext {
	-webkit-animation: blinktext 2s linear infinite;
	-moz-animation: blinktext 2s linear infinite;
	animation: blinktext 2s linear infinite;
}
@keyframes blinktext {
	0% {color: rgba(255,255,255,0.2) !important;}
	10% {color: rgba(255,255,255,0.9) !important;}
	100% {color: rgba(255,255,255,0.2) !important;}
}
@-webkit-keyframes blinktext {
	0% {color: rgba(255,255,255,0.2) !important;}
	10% {color: rgba(255,255,255,0.9) !important;}
	100% {color: rgba(255,255,255,0.2) !important;}
}
@-moz-keyframes blinktext {
	0% {color: rgba(255,255,255,0.2) !important;}
	10% {color: rgba(255,255,255,0.9) !important;}
	100% {color: rgba(255,255,255,0.2) !important;}
}





.container {
	padding-left: 0;
	padding-right: 0;
}





/* target nav bar */
nav {
	position: absolute;
	top: 0;
	z-index: 10;
	width: 100%;
	height: auto;
	text-align: center;
	background: black;
	
	
	/* target tab */
	a {
		display: inline-block;
		min-height: 2em;
		color: white;
		background: rgba(255,255,255,0);
		font-size: 1.5rem;
		padding: 5px 15px;
		-webkit-transition: 0.5s;
		transition: 0.5s;
		&:hover {
			background: rgba(255,255,255,0.2);
			color: white;
			-webkit-transition: 0.5s;
			transition: 0.5s;
		}
		
		&#donate { /*donate button*/
			float: right;
			i { /*fontawesome icon*/
				opacity: 0.5;
				transition: 0.5s opacity;
			}
			.text { /*donate button text hidden until hover*/
				/*spans won't transform unless they're turned into a block*/
				display: inline-block;
				width: 0;
				transform: scaleX(0);
				transition: 0.5s;
				transition-property: transform, width;
			}
			&:hover {
				i {
					opacity: 1;
					transition: 0.5s opacity;
				}
				.text {
					width: 3.5em;
					transform: scaleX(1);
					transition: 0.5s;
					transition-property: transform, width;
				}
			}
		}
	}
	
	/* target nav logo */
	#navlogo {
		color: white !important;
		font-weight: 500;
		font-size: 1.5rem;
		svg {
			fill: white;
			height: 1.5em;
			width: auto;
		}
	}
	
	/* menu button for mobile */
	.menu {
		height: auto;
		max-height: 3em;
		width: 100%;
		background: rgba(255,255,255,0);
		font-size: 3rem;
		-webkit-transition: 0.5s;
		transition: 0.5s;
	}
}
/* the fixed nav bar for when the user scrolls */
nav.scrolled {
	position: fixed;
	background: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(3px);
	transform: translateY(-100%);
}
nav.sleep {	transition: 0.5s $bezier; }
nav.awake { transform: translateY(0); transition: 0.5s $bezier; }



#menu-bg {
	pointer-events: auto;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: 0.5s opacity;
	
	/* target mobile menu */
	#menu {
		position: absolute;
		width: 80%;
		height: auto;
		
		/* target tab */
		a, > span {
			display: block;
			min-height: 2em;
			background: transparent;
			color: white !important;
			font-size: 1.5rem;
			padding: 5px;
			-webkit-transition: 0.5s;
			transition: 0.5s;
		}
		
		/* target menu logo */
		#navlogo {
			color: white !important;
			font-weight: 500;
			font-size: 1.5rem;
			svg {
				fill: white;
				height: 1em;
				width: auto;
			}
		}
	}
}





.scrollup {
	position: fixed;
	bottom: 3em;
	right: -3em;
	width: 3em;
	text-align: center;
	z-index: 999;
	cursor: pointer;
	border-radius: 1em;
	border: 1.5px solid #ccc;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(3px);
	transition: 0.5s $bezier;
	&.show { right: 3em; }
	&:hover {
		text-shadow: 0 0 15px gray;
		transition: 0.3s;
	}
}




/* progress bar background */
.progress {
	border: 2px solid black;
	background: white;
}
/* progress bar filled part */
.progress-bar {
	background: black;
	
	/* progress bar filled part text */
	span {
		font-size: 1.4rem;
	}
}
.p-bars div {
	p { margin-bottom: 0; }
}





.gh-projects.card-columns {
	.card {
		font-size: 0.8rem;
		.stars {
			position: absolute;
			top: 1rem;
			right: 1.5rem;
			font-size: 1.5em;
			font-weight: 500;
		}
		// turning h3 into h4 to please Lighthouse
		h3 {
			margin-right: 1.5em;
			font-size: 2em;
		}
		&.arrow h3:after {
			content: ">";
			opacity: 0.3;
			margin-left: 0.1em;
			transition: 0.3s;
		}
		&.arrow:hover h3:after {
			opacity: 0.6;
			margin-left: 0.4em;
		}
	}
}
.card {
	padding: 1rem 1.5rem;
	border-radius: 1em;
	border: 1.5px solid #ccc;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
	margin-bottom: 1.25em !important;
}





/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 70px;
	height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 999px;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 36px;
	left: 4px;
	bottom: 4px;
	border-radius: 999px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
	background: linear-gradient(120deg, $primary, $secondary);
	background-size: 200% 200%;
	-webkit-animation: animatedgradient 5s ease infinite;
	-moz-animation: animatedgradient 5s ease infinite;
	animation: animatedgradient 5s ease infinite;
}
input:hover + .slider {
	-webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.4);
}
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}






.modal {
	display: none;
	position: fixed;
	font-size: 0.75rem;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	/*pointer-events: none;*/
	background: rgba(0, 0, 0, 0.7);
	&#easteregg {
		backdrop-filter: blur(3px);
		opacity: 0;
		transition: opacity 0.5s;
		
		&.show {
			opacity: 1;
			transition: opacity 3s;
		}
		#easteregg-content {
			color: white;
			pointer-events: auto;
			margin: 5% auto; /* 15% from the top and centered */
			padding: 20px;
			width: 80%;
		}
	}
	$blur-length: 0.5s;
	$blur-length: $blur-length/2;
	&#blur {
		backdrop-filter: blur(4px);
		animation: $blur-length blurReverse ease-out forwards;
		animation-delay: $blur-length;
		z-index: 15;
		&.animate { animation-delay: 0; }
	}
	&#blur2 {
		backdrop-filter: blur(8px);
		animation: $blur-length blurReverse forwards;
		z-index: 16;
		&.animate { animation-delay: $blur-length; }
	}
	&#blur, &#blur2 {
		background: none;
		&.show {
			display: flex;
		}
		&.animate {
			animation: $blur-length blur forwards;
		}
	}
}





@keyframes blur {
	0% { opacity: 0 }
	100% { opacity: 1 }
}
@keyframes blurReverse {
	0% { opacity: 1 }
	100% { opacity: 0 }
}






#port-items {
	text-align: center;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
#port-items .p-item {
	width: auto;
	height: 10em;
	margin: 1em;
	text-align: center;
	overflow: hidden;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
	-webkit-border-radius: 2em;
	border-radius: 2em;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	.img-container {
		img, picture {
			max-height: 10em;
			position: relative;
		}
		.middle { display: none }
	}
	&:hover {
		-webkit-box-shadow: 0 6px 18px 0 rgba(0,0,0,0.4);
		box-shadow: 0 6px 18px 0 rgba(0,0,0,0.4);
		-webkit-border-radius: 1em;
		border-radius: 1em;
		-webkit-transition: 0.5s;
		transition: 0.5s;
	}
}
#port-items .p-item .p-name, #port-items .p-item .p-desc {
	display: none;
}
#p-over {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: fixed;
	pointer-events: auto;
	height: 100%;
	width: 100%;
}
#p-view .p-item {
	display: flex;
	height: 100%;
	padding: 1em;
	z-index: 10000;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	.img-container {
		// for some reason this makes .middle fill container up properly
		display: inline-flex;
		position: relative;
		img, picture img {
			max-height: 80vh;
			max-width: 100%;
			width: auto;
		}
		.middle { // the thingy that appears when hovering on image
			background-color: rgba(0,0,0,0.5);
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			text-align: center;
			transition: .3s ease;
		}
		.middle:hover {
			opacity: 1;
		}
	}
	.p-name {
		position: relative;
		color: white;
		font-size: 1.5rem;
	} .p-desc {
		position: relative;
		color: white;
		font-size: 1.2rem;
	}
}





/* Slideshow container */
.contact-slides {
	position: relative;
}

.slides-container {
	width: 100%;
	max-width: 350px;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
	> a {
		display: inline-flex;
		width: 2em;
		height: 2em;
		font-size: 1.5rem;
		color: black;
		text-decoration: none;
		align-items: center;
		justify-content: center;
		margin: 0 0 0.5rem 0;
		position: relative;
		border-radius: 1em;
		border: 1.5px solid #ccc;
		box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
		&:active {
			top: 1px;
		}
		&:focus {
			background: #333;
		}
	}
}
.slides {
	display: flex;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;

	// hide the scroll bar (you can't just use overflow: hidden or it prevents swiping on mobile)
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
	&::-webkit-scrollbar { 
		display: none;  /* Safari and Chrome */
	}
	
	/*
	scroll-snap-points-x: repeat(300px);
	scroll-snap-type: mandatory;
	*/
	> div {
		scroll-snap-align: start;
		flex-shrink: 0;
		width: 100%;
		margin-right: 50px;
		transform-origin: center center;
		transform: scale(1);
		transition: transform 0.5s;
		position: relative;
		
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		a {
			color: black;
			text-decoration: underline !important;
		}
		&:target {
			/*   transform: scale(0.8); */
		}
	}
}





#loader-bg {
	z-index: 99999;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	transition: 0.3s ease forwards;
	transition-property: opacity;
	
	p3 {
		color: white;
		position: absolute;
		opacity: 0;
		bottom: 1em;
		/*play a fade in animation once after a delay*/
		animation: 0.5s 1 fadein;
		animation-fill-mode: forwards; // stops animation at the end
		animation-delay: 3s;
	}
}
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}
@-moz-keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1; }
}
#loader {
	z-index: 99999;
	fill: transparent;
	width: 30vh;
	margin-bottom: -30vh; /* put this over the logo below it */
	height: auto;
	stroke: white;
	stroke-width: 10;
	stroke-dasharray: 1255;
	-webkit-animation: drawlogo 1000ms linear infinite;
	animation: drawlogo 1000ms linear infinite;
	transition: 0.3s ease-in-out forwards;
	transition-property: opacity;
}
@-webkit-keyframes drawlogo {
	from { stroke-dashoffset: 2510 }
	to { stroke-dashoffset: 0 }
}
@-moz-keyframes drawlogo {
	from { stroke-dashoffset: 2510 }
	to { stroke-dashoffset: 0 }
}
@keyframes drawlogo {
	from { stroke-dashoffset: 2510 }
	to { stroke-dashoffset: 0 }
}

#loader-line {
	z-index: 9999;
	stroke: url(#xilog);
	stroke-dasharray: 2000;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	animation: 0.5s drawline linear infinite;
}
@-webkit-keyframes drawline {
	from { stroke-dashoffset: 4000 }
	to { stroke-dashoffset: 0 }
}
@-moz-keyframes drawline {
	from { stroke-dashoffset: 4000 }
	to { stroke-dashoffset: 0 }
}
@keyframes drawline {
	from { stroke-dashoffset: 4000 }
	to { stroke-dashoffset: 0 }
}





button, a.button, input[type="button"] {
	background: #eee;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-size: 1.5rem;
	padding: 4px 14px;
	text-decoration: none;
	border: 0;
	outline: 1px solid transparent;
	outline-offset: 2px;
	transition: 0.3s;
	
	&:hover {
		outline: 1px solid white;
		transition: 0.3s;
	}
	&:active {
		position: relative;
		top: 2px;
	}
}





a .social{
	text-shadow: 0px 0px 0px rgba(0,0,0,0.2);
	color: white;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
a .twitter:hover {
	text-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	color: #1DA1F2;
}
a .mail:hover {
	text-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	color: #e94843;
}
a .discord:hover {
	text-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	color: #7289DA;
}
a .github:hover {
	text-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	color: #24292e;
}





.box-shadow {
	-webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
}





table, th, td {
	color: black;
	border: 2px solid black;
	border-collapse: collapse;
	padding: 10px;
}

.hover {
	-webkit-animation: hover 4s ease-in-out infinite;
	animation: hover 4s ease-in-out infinite;
}

.text-hover {
	animation: text-hover 4s ease-in-out infinite;
}



/* ANIMATIONS */

@-webkit-keyframes animatedgradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes animatedgradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes animatedgradient {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}


@keyframes hover {
	0% {transform: translatey(0px);}
	50% {transform: translatey(-8px);}
	100% {transform: translatey(0px);}
}
@-webkit-keyframes hover {
	0% {transform: translatey(0px);}
	50% {transform: translatey(-8px);}
	100% {transform: translatey(0px);}
}
@-moz-keyframes hover {
	0% {transform: translatey(0px);}
	50% {transform: translatey(-8px);}
	100% {transform: translatey(0px);}
}


@keyframes text-hover {
	0% {text-shadow: 0px 5px 5px rgba(0,0,0,0.2); transform: translatey(0px);}
	50% {text-shadow: 0px 25px 15px rgba(0,0,0,0.2); transform: translatey(-20px);}
	100% {text-shadow: 0px 5px 5px rgba(0,0,0,0.2); transform: translatey(0px);}
}
@-webkit-keyframes text-hover {
	0% {text-shadow: 0px 5px 5px rgba(0,0,0,0.2); transform: translatey(0px);}
	50% {text-shadow: 0px 25px 15px rgba(0,0,0,0.2); transform: translatey(-20px);}
	100% {text-shadow: 0px 5px 5px rgba(0,0,0,0.2); transform: translatey(0px);}
}
@-moz-keyframes text-hover {
	0% {text-shadow: 0px 5px 5px rgba(0,0,0,0.2); transform: translatey(0px);}
	50% {text-shadow: 0px 25px 15px rgba(0,0,0,0.2); transform: translatey(-20px);}
	100% {text-shadow: 0px 5px 5px rgba(0,0,0,0.2); transform: translatey(0px);}
}