<div class="modal" id="easteregg" style="display: none">
    <div id="easteregg-content">
        <h2>Congrats!</h2>

        <h3>I'm an easteregg.</h3>
        <p>
            Did you know this site's codebase can trace its roots back to 2015? That's when I first started making websites from scratch!
            <br>
            For years, it used to host a bunch of fun utilities and not much else, the former of which I mostly made to practice JavaScript. I'd say it paid off.
            <br>
            Re-enter the Konami code or click close to close this.
        </p>
        <button id="close">Close</button>
        <br>
    </div>
</div>