<div class="modal" id="easteregg" style="display: none">
    <div id="easteregg-content">
        <h2>Congrats!</h2>

        <h3>I'm an easteregg.</h3>
        <p>
            Did you know this site has been through 3 redesigns so far?
            Re-enter the Konami code or click close to close this.
            <br>
            You can enable my loader permanently too if you wanna look at it.
        </p>
        <button id="close">Close</button>
        <button id="loader-enable">Loader</button>
        <br>
    </div>
</div>