<!--
    If you find this in the source code...
    This was a test for a concept I ended up disliking and scrapping. I'll likely return to it
    and implement it as a work experience timeline instead, rather than a skills timeline.
-->

<h3 class="aos" data-aos="fadein-up"> Endeavors </h3>
    
<div class="timeline">
    <div class="timeline-item">
        <div class="card">
            <div class="heading">
                <h3>2014 - Game development</h3>
                <div class="icons large">
                    <span class="skills">
                        <i class="devicon-unity-original"></i>
                        <i class="devicon-csharp-plain"></i>
                        <i class="devicon-javascript-plain"></i>
                        <i class="devicon-blender-original"></i>
                    </span>
                </div>
            </div>
            <p2>Pursued game design, producing games in both C# and UnityScript (a JavaScript fork). Learned intermediate 3D modeling skills through using self-made assets.</p2>
        </div>
    </div>

    <div class="timeline-item">
        <div class="card">
            <div class="heading">
                <h3>2015 - Web development</h3>
                <div class="icons large">
                    <span class="skills">
                        <i class="devicon-html5-plain"></i>
                        <i class="devicon-css3-plain"></i>
                        <i class="devicon-javascript-plain"></i>
                    </span>
                </div>
            </div>
            <p2>Started an ongoing interest in web development, initially by making online utilities.</p2>
        </div>
    </div>

    <div class="timeline-item">
        <div class="card">
            <div class="heading">
                <h3>2017 - Discord API</h3>
                <div class="icons large">
                    <span class="skills">
                        <i class="devicon-python-plain"></i>
                        <i class="devicon-nodejs-plain"></i>
                        <i class="devicon-discordjs-plain"></i>
                    </span>
                </div>
            </div>
            <p2>Created bots for the instant messaging platform Discord, introducing me to API usage, authentication, and Python and Node.js libraries.</p2>
        </div>
    </div>

    <div class="timeline-item">
        <div class="card">
            <div class="heading">
                <h3>2017 - Discord API</h3>
                <div class="icons large">
                    <span class="skills">
                        <i class="devicon-python-plain"></i>
                        <i class="devicon-nodejs-plain"></i>
                        <i class="devicon-discordjs-plain"></i>
                    </span>
                </div>
            </div>
            <p2>Created bots for the instant messaging platform Discord, introducing me to API usage, authentication, and Python and Node.js libraries.</p2>
        </div>
    </div>
</div>