<nav>
    {% unless page.title == 404 %}
    <div class="checkpoint-container">
        <div class="checkpoint-fill" id="checkpoint-fill"></div>
        <a href="#top"><div class="circle active"><i class="bi bi-person-fill"></i></div></a>
        <a href="#intro"><div class="circle"><i class="bi bi-mortarboard-fill"></i></div></a>
        <a href="#portfolio"><div class="circle"><i class="bi bi-code"></i></div></a>
        <a href="#contact"><div class="circle"><i class="bi bi-envelope-open-fill" style="font-size: 90%;"></i></div></a>
     </div>
     {% endunless %}

    <div class="menu" style="display: none; color: white"><i class="bi-list"></i></div>
</nav>