<!--             
    /\   | |            
   /  \  | | __ _ _ __  
  / /\ \ | |/ _` | '_ \ 
 / ____ \| | (_| | | | |
/_/    \_\_|\__,_|_| |_|
https://github.com/{{ site.github_username }}
-->

<!DOCTYPE html>
<html lang="en">
{% include head.html %}


<body>
    {% include hero.html content=page.hero %}
    
    <div class="content"> 
        {{ content }}
    </div>

    {% include footer.html %}
    
    <!-- MODALS BELOW -->
    {% include easteregg.html %}
    <div class="modal" id="loader"></div>

    <div class="modal" id="blur"></div>
    <div class="modal" id="blur2"></div>

    <div class="modal" id="p-view"></div>
    
    <a aria-label="Scroll to top of page" class="uncolored" href="#top">
        <div class="scrollup">
            <i class="bi-caret-up-fill" style="font-size: 2em;"></i>
        </div>
    </a>
    
    <div class="modal" id="menu-bg" style="display: none">
        <div id="menu">
            <span class="m-close"><i class="bi-x-lg"></i> Close</span>
        </div>
    </div>

    <!-- if JS off -->
    <noscript>
        <div style="background-color: #fff; color: #000; z-index: 99999999999999999999999999999999999999999; position: fixed; left:0;top:0; opacity: 0.5;">
            <p>
                You should probably enable JavaScript! My website relies on it.
            </p>
        </div>
    </noscript>
</body>

</html>